@using StockOrderManagement.Models


<a href="/Stock/Index">
    <h2>Click here to go to Stocks</h2>
</a>
<h1>Order</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<head>
    <script>
        function showAlert() {
            alert("Stock with non-zero order value cannot be deleted.");
        }
    </script>
</head>
<table class="table">
    <thead>
        <tr>
            <th>CustomerName</th>
            <th>StockId</th>
            <th>OrderQty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.StockId
                </td>
                <td>
                    @item.OrderQty
                </td>
                <td>
                    @if (ViewBag.ShowAlert == "0")
                    {
                        <a href="#" onclick="showAlert()">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
